ALPACA_ZERO_SHOT_API_KEY=
ALPACA_ZERO_SHOT_SECRET_KEY=
ALPACA_ZERO_SHOT_BASE_URL=https://paper-api.alpaca.markets

ALPACA_US_FULL_API_KEY=
ALPACA_US_FULL_SECRET_KEY=
ALPACA_US_FULL_BASE_URL=https://paper-api.alpaca.markets
